language: ruby
rvm:
  - 2.3.8
  - 2.4.9
  - 2.5.7
  - 2.6.5
  - 2.7.0
  - ruby-head
  - rbx
before_install:
  - gem install bundler -v 1.12.5

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: rbx
